.login_container {
  margin-top: 10em;
}
.login_container .form_container {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  margin: 0 auto;
}

.login_container .form_container input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.1rem;
}

.login_container .form_container label {
  margin-bottom: 0.5em;
}

.login_container .form_container .input_div {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.btn_login {
  width: 200px;
  padding: 1em 3em;
  margin: 0 auto;
  background: transparent;
  cursor: pointer;
}
